@import "../../scss/vars";

.title {
  font-size: 74px;
  font-weight: 600;
  @media(max-width: 768px) {
    font-size: 48px;
  }
}

.details {
  margin-top: 32px;

  &Title {
    font-size: 30px;
  }

  p {
    margin-top: 10px;
    font-size: 20px;
  }

  @media(max-width: 768px) {
    margin-top: 24px;
    &Title {
      font-size: 20px;
    }
    p {
      margin-top: 8px;
      font-size: 16px;
    }
  }
}

.logoutButton {
  margin: 32px auto 0;
  display: block;
  padding: 16px 128px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  background: $darkgray;
  border: 1px solid $darkgray;
  cursor: pointer;
  transition: all .3s;
  color: $white;

  &:hover {
    background: transparent;
    color: $darkgray;
  }

  @media(max-width: 768px) {
    margin: 24px auto 0;
  }
}