@import "../../scss/vars";

.navigation {
  background: $white2;
  width: 100%;
  border-radius: 24px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  @media(max-width: 768px) {
    border-radius: 12px;
    height: 52px;
    padding: 16px;
  }
}

.ul {
  display: flex;
  gap: 40px;
  align-items: center;
  position: relative;
  @media(max-width: 768px) {
    gap: 16px;
  }
}

.navLiProfile {
  @media(max-width: 768px) {
    display: none;
  }
}

.navDrop {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  cursor: pointer;

  &::after {
    content: "";
    width: 12px;
    height: 12px;
    background: url("../../assets/downArrow.svg");
    background-size: cover;
    top: 16%;
    right: -15px;
    position: absolute;
    transition: all .3s;
  }

  &.transformAfter {
    &::after {
      transform: rotate(180deg);
    }
  }

  @media(max-width: 768px) {
    display: none;
  }
}

.navLink, .logo {
  cursor: pointer;
  transition: all .3s;
  position: relative;

  img {
    transition: all .3s;
  }

  &Search {
    img {
      width: 28px;
      @media(max-width: 768px) {
        width: 20px;
      }
    }
  }

  &Cart {
    img {
      width: 27px;
      @media(max-width: 768px) {
        width: 20px;
      }
    }
  }

  &:hover {
    scale: 1.3;

    img {
      scale: 1.3;
    }
  }

  .cartItemsCount {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 1px;
    text-align: center;
    background-color: $orange;
    color: $white;
    z-index: 1;
    bottom: 0;
    right: -10px;
    transition: all .3s;
    opacity: 0;

    &.show {
      opacity: 1;
    }

    @media(max-width: 768px) {
      width: 15px;
      height: 15px;
      font-size: 12px;
      padding: 1px;
    }
  }
}

.logoLink {
  width: 135px;
  height: 39px;
  @media(max-width: 768px) {
    width: 80px;
    height: 20px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.menDropDown, .womenDropDown {
  position: absolute;
  top: 50px;
  background: $white;
  display: flex;
  flex-direction: column;
  width: 200px;
  border-radius: 16px;
  opacity: 0;
  transform: translateY(-30px);
  transition: all .3s;

  a {
    text-align: left;
    padding: 16px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    opacity: 0.6;
    border-bottom: 1px solid rgba($darkgray, .6);
    transition: all .3s;
    cursor: pointer;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      opacity: 1;
    }
  }

  &.show {
    transform: none;
    z-index: 1;
    opacity: 1;
  }
}

.womenDropDown {
  left: 70px;
}

.burger {
  display: none;
  background: $black;
  width: 16px;
  height: 1.5px;
  border-radius: 2px;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    background: $black;
    width: 16px;
    height: 1.5px;
    border-radius: 2px;
    top: -4px;
    left: 0;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    background: $black;
    width: 16px;
    height: 1.5px;
    border-radius: 2px;
    bottom: -4px;
    left: 0;
  }

  @media(max-width: 768px) {
    display: block;
  }
}

.mobileMenu, .menMenu, .womenMenu {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  max-width: 100vw;
  height: 300vh;
  background: $white3;
  z-index: 2;
  padding: 16px;
  animation: .5s ease showAnim;

}

.mobileNavigation {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 16px;

  a, button {
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: left;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.mobileMenuHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $white;
  padding: 16px;
  margin: -16px -16px 0 -16px;

  h3 {
    font-size: 20px;
    font-weight: 600;
  }
}

.menuAnim {
  transition: all .5s;
  transform: translateX(-100vw);
}

@keyframes showAnim {
  from {
    transform: translateX(-100vw);
  }

  to {
    transform: none;
  }
}