$blue: #4A69E2;
$orange: #FFA52F;
$black: #000;
$white: #fff;
$white2: #FAFAFA;
$white3: #F4F2F2;
$lightgray: #E7E7E3;
$gray: #70706E;
$gray2: #D2D1D3;
$gray3: #8F8C91;
$gray4: #79767C;
$darkgray: #232321;
